.section-card {
  /* margin: 20px 0 0; */
  padding: 20px;
  background-color: var(--primary-background-color);
  width: 100%;
  max-width: 400px;
  font-family: var(--primary-font-family);
}

.section-card:first-child {
  margin: 20px 0 0;
}

.saved-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-background-color);
  padding: 15px 20px;
  border-radius: var(--border-radius-style);
  margin: 10px 0;
  gap: 10px;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.save-button,
.edit-button,
.add-button,
.delete-button {
  font-family: var(--primary-font-family);
  color: var(--button-text-color);
  padding: 10px 20px;
  border: none;
  border-radius: var(--border-radius-style);
  cursor: pointer;
  margin-top: 10px;
}

.save-button,
.edit-button,
.add-button {
  background-color: var(--button-creative-background-color);
}

.save-button:hover,
.edit-button:hover,
.add-button:hover {
  background-color: var(--button-creative-hover-background-color);
}

.edit-button {
  margin-top: 0px;
}

.add-button {
  width: 100%;
}

.delete-button {
  background-color: var(--button-destructive-background-color);
}

.delete-button:hover {
  background-color: var(--button-destructive-hover-background-color);
}
