.output-card {
  margin-top: 10px;
  padding: 20px;
  width: 100%;
  font-family: var(--primary-font-family);
  /* border: 3px solid black; */
}

.personal-details-card {
  margin-top: 20px;
}

.personal-details-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.personal-details-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
}

.personal-details-content p:not(:last-child)::after {
  content: "•";
  margin-left: 5px;
  margin-right: 5px;
}

.title-section {
  grid-column: span 1;
  border-bottom: 1px solid #000000;
  padding-bottom: 10px;
}

.grid-item {
  grid-column: span 1;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.headline-content {
  display: flex;
  justify-content: space-between;
}

.institution-information {
  /* border: 3px solid green; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.date-information {
  display: flex;
  flex-direction: column;
  /* border: 3px solid red; */
  align-items: flex-end;
}

.item-description {
  /* border: 3px solid blue; */
  margin-top: 8px;
}

.bold-font {
  font-weight: 700;
}
