.app {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-background-color);
}

@media screen and (min-width: 1024px) {
  .app {
    flex-direction: row;
    padding-right: 20px;
    justify-content: center;
  }
}
